.element__like {
    height: 19px;
    width: 19px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30px;
    background-image: url(../../../images/Vector-like.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}