.close-btn__popup_active{
    background-image: url(../../../images/CloseIcon.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    position: relative;
    border: none;
    margin: auto;
    float: right;
    top: -40px;
    right: -40px;
    background-color: transparent;
}

.close-btn__popup_active:hover {
    opacity: 0.6;
}

@media screen and (max-width: 620px) {
    .close-btn__popup_active { 
        width: 20px;
        height: 20px;
        left: 0;
    }
}