.popup__form-input {
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.2;
    border: none;
    width: 358px;
    margin: 30px 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    padding: 0 0 7px 0;
}

.popup__form-input:first-of-type {
    margin-top: 54px;
}

@media screen and (max-width: 620px) {
    .popup__form-input:first-of-type {
        margin: 65px 0 0;
        width: 238px;
    }

    .popup__form-input {
        width: 238px;
        margin-left: 0;
        margin-right: 0;
    }
}