.popup__close-btn_element {
    position: absolute;
    right: -40px;
    top: -40px;
}

@media screen and (max-width: 880px) {
    .popup__close-btn_element {
        top: -47px;
        right: 0;
    }
}