.popup__form-input_profession {
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.2;
    border: none;
    width: 358px;
    margin: 30px auto 0;
    border-bottom: 1px solid #545454;
    opacity: 0.7;
    outline: none;
}

@media screen and (max-width: 620px) {
    .popup__form-input_profession {
        margin: 43px auto 0;
        width: 238px;
    }
}