.popup__form {
    padding: 32px 36px 37px 36px;
}

@media screen and (max-width: 620px) {
    .popup__form {
        align-items: center;
        padding: 25px 22px 25px 22px;
        box-sizing: border-box;
        justify-content: center;
    }
}