.footer__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
    flex: 1;
    margin: 0;
}

@media screen and (max-width: 620px) {
    .footer__text {
        font-size: 14px;
        margin-left: 19px;
        margin-right: 19px;
    }
}
