.save-btn__active_add {
    background-color: #000000;
    color: #FFF;
    width: 358px;
    height: 50px;
    margin: 48px auto 0;
}

@media screen and (max-width: 620px) {
    .save-btn__active_add {
        width: 238px;
        margin: 72px auto 25px;
    }
}