.element {
    max-width: 282px;
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 10px;
    display: grid;
    max-height: 361px;
}

@media screen and (max-width: 882px) {
    .element {
        margin: 0 auto;
    }
}